{% extends 'first_try/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'vendor/css/about.css' %}" rel="stylesheet">
{% endblock css %}

{% block nav_block %}
      <div id="nav_block"> 
        {% if user.is_authenticated%}
          <a href={% url "profile"%}><div class="nav_button_name">{{user.username}}</div></a>
        {% else %}
          <a href={% url "registration"%}><div class="nav_button">Registration</div></a>
          <a href={% url "login"%}><div class="nav_button">Login</div></a>
        {% endif %}
        <a href={% url "main"%}><div class="nav_button">Main</div></a>
      </div>
{% endblock nav_block %}

{% block content_container %}
    <div id="content_container">
        <div class="rect">
            <h1>Добро пожаловать</h1>
            <div class="text">
                <p>Cайт посвященный теме аниме. Здесь вы можете узнать:</p>
                <ul>
                    <li>Длительность вашего любимого аниме</li>
                    <li>Посмотреть подборку аниме на основе просмотренных вами*</li>
                    <li>Создать свой профиль</li>
                    <li>Узнать ваши любимые жанры*</li>
                    <li>Увидеть росмотренные вами аниме или непросмотренные*</li>
                    <li>Узнавать ваш прогресс просмотра*</li>
                </ul>
                <p class="tip">* - всё это формируется на основе тех аниме которые вы отметите как просмотренные у себя в профиле</p>
            </div>
            <img class="image" src={% static "vendor/images/about.png"%}>
        </div>
    </div>

{% endblock content_container %}
