{% extends 'first_try/base.html' %}
{% load static %}

{% block top_bar_black %}
    <div id="top_bar_black"> 
    <div id="logo_container"> 
      <div id="logo_image"> </div>  
    </div> 
    </div>
{% endblock top_bar_black %}

{% block content_container %}
    <div id="content_container">
      <div id="rectangle">
        <div class="text_start_1">Приветствую Вас на Anitiming</div>
        <div class="text_start_2">Заполните анекту чтобы пройти дальше</div>
        <p><img class="start_photo" src={% static 'vendor/images/start.jpg' %} alt="krasivoe photo"></p>
      </div>

    </div>
{% endblock content_container %}


