{% load static %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
  <title>Anitiming</title>
  <link href={% static 'vendor/css/stylesheet.css' %} rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/0734cd974a.js" crossorigin="anonymous"></script>
  <link type="Image/x-icon" href={% static 'vendor/images/logo.plus.ico' %} rel="icon">
  {% block css %} {% endblock css %}
</head>

<body>
    <div id="top_bar_black"> 
      <div id="logo_container"> 
        <div id="logo_image">
          <a href={% url 'main' %}>
            <img src="{% static 'vendor/images/logo.jpg' %}"> 
          </a>
          <a class="name_site"href={% url 'main' %}>Anitiming</a>
          <hr>
          <span>сайт для подсчета просмотра аниме</span>
        </div> 
        {% block nav_block %} {% endblock nav_block %} 
      </div> 
    </div>
    <div class="all">  
    {% block content_container %} {% endblock content_container %}
           
    </div>
    <div id="bottom_bar_black">
      <div class="social">
      <ul>
        <li><a href="https://www.instagram.com/y.e.v.g.a.k.i.m9/" target="_blank"><i class="fa-brands fa-instagram instagram"></i></a></li>
        <li><a href="https://github.com/YevgaKim" target="_blank"><i class="fa-brands fa-github github"></i></a></li>
        <li><a href="https://t.me/yevgakim" target="_blank"><i class="fa-brands fa-telegram telegram"></i></a></li>
      </ul> 
    </div>
    </div>
    
    {% block script %} {% endblock script %}
</body>
</html>
