{% extends 'first_try/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block top_bar_black %}
  <div id="top_bar_black"> 
    <div id="logo_container"> 
      <div id="logo_image"> </div>  
      <div id="nav_block"> 
      <div class="nav_button"><a href={% url 'Bio' %}>Profile</a></div>
      <div class="nav_button"><a href=""> About</a></div>
      </div>
    </div> 
  </div>
{% endblock top_bar_black %}

{% block content_container %}
    <div id="content_container">
      <div id="rectangle">
        <div class="prokrutka">
          {%for anime in animes %}
            <div class="anime">
              <div class="image"><img class="image_anime" src="{{anime.image}}" alt="Anime tyan"></div>
              <div class="info">
                <div class="name"><b>{{anime.name}}</b></div>
                <div class="text">Рейтинг на AnimeGo: {{anime.rating}}</div>
                <div class="text">Количество серий: {{anime.episodes}}</div>
                <div class="text">Жанр: {{anime.genres}}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock content_container %}
