{% extends 'first_try/base.html' %}
{% load static %}
{% load custom_filters %}
{% load cache %}
{% block css %}
    <link href="{% static 'vendor/css/main.css' %}" rel="stylesheet">
{% endblock css %}

{% block nav_block %}
      <div id="nav_block"> 
        {% if user.is_authenticated%}
          <a href={% url "profile"%}><div class="nav_button_name">{{user.username}}</div></a>
        {% else %}
          <a href={% url "registration"%}><div class="nav_button">Registration</div></a>
          <a href={% url "login"%}><div class="nav_button">Login</div></a>
        {% endif %}
        <a href={% url "about"%}><div class="nav_button">About</div></a>
      </div>
{% endblock nav_block %}

{% block content_container %}
  <div class="content_container">
    <div class="rectangle1">
      <img class="face" src={% static "vendor/images/face2.jpg"%}>
      <div class="answer">
        <form class="form_log" action="{% url 'main'%}" method="get">
          <input class="inputs" placeholder="Введите название аниме" required="" type="text" name="search">
          <button title="Поиск">
            <img src={%static "vendor/images/lupa.png"%}>
          </button>
          {%if answer%}
            <div class="cont_anime">
              <a href="{{answer.urls}}" target="_blank">
                <img class="image_anime1" src="data:image/jpeg;base64,{{answer.images|get_base64}}" alt="Anime tyan">
              </a>
              <div class="info1">
                <a href="{{answer.urls}}" target="_blank">
                  <h1><b>{{answer.name}}</b></h1>
                </a>
                <div class="text1"><b>Рейтинг на <a href="https://animego.org/" target="_blank">AnimeGo</a>: </b>{{answer.rating}}</div>
                <hr>
                <div class="text1"><b>Количество серий: </b>{{answer.episodes}}</div>
                <hr>
                <div class="text1"><b>Жанр: </b>{{answer.genres}}</div>
                <hr>
                <div class="time">
                  <h1><b>Время нужное для просмотра:</b></h1>
                  <table>
                    <tr><th>Минут</th><th>Часов</th><th>Дней</th></tr>
                    <tr><td>{{ time.minutes }}</td><td>{{time.hours.0}}:{{time.hours.1}}</td>
                      <td>{{time.days.0}}:{{time.days.1}}:{{time.days.2}}</td></tr>
                    </tr>
                  </table>
                </div>
              </div>
            {%endif%}
          </div>
        </form>
      </div>
    </div>
    <div class="rectangle2">
      <div class="recom">
        <h1><b>Рекомендации для просмотра</b></h1>
        <h2>на основе ваших предпочтений:</h2>
        <hr>
      </div>
      <div class="prokrutka">
        {% cache 60 sidebar %}
          {%for anime in animes %}
            <div class="anime">
              <a href="{{anime.urls}}" target="_blank">
                <img class="image_anime" src="data:image/jpeg;base64,{{ anime.images|get_base64 }}" alt="Anime tyan">
              </a>
              <div class="block_info">
                <div class="info">
                  <a href="{{anime.urls}}" target="_blank">
                    <div class="name"><b>{{anime.name}}</b></div>
                  </a>
                  <div class="text"><b>Рейтинг на <a href="https://animego.org/" target="_blank">AnimeGo</b></a>: {{anime.rating}}</div>
                  <div class="text"><b>Количество серий: </b>{{anime.episodes}}</div>
                  <div class="text"><b>Жанр: </b>{{anime.genres}}</div>
                </div>
              </div>
              <hr>
            </div>
          {% endfor %}
        {% endcache %}
      </div>
    </div>
  </div>
{% endblock content_container %}
