{% extends 'first_try/base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %} 
  <link href="{% static 'vendor/css/profile.css' %}" rel="stylesheet">
{% endblock css %}

{% block nav_block %}   
        <div id="nav_block"> 
          <a href={% url "exit"%}><div class="nav_button">   Exit   </div></a>
          <a href={% url 'main' %}><div class="nav_button">   Main   </div></a>
          <a href={% url "about"%}><div class="nav_button">   About   </div></a> 
        </div>
{% endblock nav_block %}

{% block content_container %}
    <div id="content_container">
      <div id="rectangle">
        <div class="info_about_user">
          <div class="div_image">
            <img src="{% if user.image %}{{user.image.url}} {%else%} {% static "vendor/images/start.jpg"%} {%endif%}" class="image_user">
            <img src={%static "vendor/images/plus.png"%} class="plus">
          </div>
          <div class="username"><b>{{user.username}}</b></div>
          <div class="genre"><b>Ваши любимые жанры:</b><br>
            {% if genres %}
              {{genres}}
            {% endif %}
          </div>
          
        </div>
        <div class="podborka">
            <div class="buttons">
              <form action="{% url 'profile'%}" method ="post">    
                <label class="switch">
                  <input type="checkbox" {{ c }}>
                  <span class="slider"></span>
                </label>
              </form>
            </div>
            <div class="frame">
              <form  action="{% url 'profile'%}" method ="post">
                {% csrf_token %}
              <div class="prokrutka">
                {%for anime in page_unviewed_animes %}
                    <div class="anime">
                      <a href="{{anime.urls}}" target="_blank">
                        <img class="image_anime" src="{{anime.images.url}}" alt="Anime tyan">
                      </a>
                      <div class="block_info">
                        <div class="info">
                          <a href="{{anime.urls}}" target="_blank">
                            <div class="name"><b>{{anime.name}}</b></div>
                          </a>
                          <div class="text"><b>Рейтинг на <a href="https://animego.org/" target="_blank">AnimeGo</b></a>: {{anime.rating}}</div>
                          <div class="text"><b>Количество серий: </b>{{anime.episodes}}</div>
                          <div class="text"><b>Жанр: </b>{{anime.genres}}</div>
                        </div>
                      </div>
                      <hr>
                      <div class="checkbox-apple" title="Посмотрел">
                        <input class="yep" id ="{{anime.id}}" name="anime_unviewed" value="{{anime.id}}" type="checkbox">
                        <label for="{{anime.id}}"></label>
                      </div>
                    </div>
                {% endfor %}
                {% if page_unviewed_animes.has_other_pages %}
                  <div class="pages">
                    {% if page_unviewed_animes.has_previous %}
                      <a href="?page_unviewed={{ page_unviewed_animes.previous_page_number }}"><div class="page"><p class="number">&lt;</p></div></a>
                    {% endif %}
                    {% for p in page_unviewed_animes.paginator.page_range%}
                      {% if page_unviewed_animes.number == p%}
                        <a href="?page_unviewed={{ p }}"><div class="selected_page"><p class="number">{{ p }}</p></div></a>
                      {% elif p >= page_unviewed_animes.number|add:-2 and p <= page_unviewed_animes.number|add:2 %}
                        <a href="?page_unviewed={{ p }}"><div class="page"><p class="number">{{ p }}</p></div></a>
                      {% endif %}
                    {% endfor %}
                    {% if page_unviewed_animes.has_next %}
                      <a href="?page_unviewed={{ page_unviewed_animes.next_page_number }}"><div class="page"><p class="number">&gt;</p></div></a>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              <button class="but" id="but1">
                <span class="span_bt2">Send</span>
                <div class="top"> </div>
                <div class="left"></div>
                <div class="bottom"></div>
                <div class="right"></div>
              </button>
              </form>
              <form  action="{% url 'profile'%}" method ="post">
                {% csrf_token %}
                <div class="prokrutka2">
                  {%for anime in page_viewed_animes %}
                    <div class="anime">
                      <a href="{{anime.urls}}" target="_blank">
                        <img class="image_anime" src="{{anime.images.url}}" alt="Anime tyan">
                      </a>
                      <div class="block_info">
                        <div class="info">
                          <a href="{{anime.urls}}" target="_blank">
                            <div class="name"><b>{{anime.name}}</b></div>
                          </a>
                          <div class="text"><b>Рейтинг на <a href="https://animego.org/" target="_blank">AnimeGo</b></a>: {{anime.rating}}</div>
                          <div class="text"><b>Количество серий: </b>{{anime.episodes}}</div>
                          <div class="text"><b>Жанр: </b>{{anime.genres}}</div>
                        </div>
                      </div>
                      <hr>
                      <div class="delete_anime" title="Удалить">
                        <input id ="{{anime.id}}" name="anime_viewed" value="{{anime.id}}" type="checkbox">
                        <label for="{{anime.id}}"></label>
                      </div>
                    </div>
                  {% endfor %}
                  {% if page_viewed_animes.has_other_pages %}
                  <div class="pages">
                    {% if page_viewed_animes.has_previous %}
                      <a href="?page_viewed={{ page_viewed_animes.previous_page_number }}"><div class="page"><p class="number">&lt;</p></div></a>
                    {% endif %}
                    {% for p in page_viewed_animes.paginator.page_range%}
                      {% if page_viewed_animes.number == p%}
                        <a href="?page_viewed={{ p }}"><div class="selected_page"><p class="number">{{ p }}</p></div></a>
                      {% elif p >= page_viewed_animes.number|add:-2 and p <= page_viewed_animes.number|add:2 %}
                        <a href="?page_viewed={{ p }}"><div class="page"><p class="number">{{ p }}</p></div></a>
                      {% endif %}
                    {% endfor %}
                    {% if page_viewed_animes.has_next %}
                      <a href="?page_viewed={{ page_viewed_animes.next_page_number }}"><div class="page"><p class="number">&gt;</p></div></a>
                    {% endif %}
                  </div>
                {% endif %}
                </div>
                <button class="but" id="but2">
                  <span class="span_bt2">Delete</span>
                  <div class="top"> </div>
                  <div class="left"></div>
                  <div class="bottom"></div>
                  <div class="right"></div>
                </button>
              </form>
            </div>
        </div>
        <div class="anime_view">Время потраченное на просмотр аниме:</div>
        <progress min="0" value="{{percents}}" max="100" title="{{value}} минут"></progress>
      </div>
    </div>
    <div class="modal">
      <div class="modal_block">
        <div class="closeModal"></div>
        <form  action="{% url 'profile'%}" method ="post" enctype="multipart/form-data">
          {{form.image}}
          <label for={{form.image.id_for_label}}>
            <img src={%static "vendor/images/photo.png"%} alt="Image" id="image_user" title="Желательно 275x300px">
          </label>
          <div id="preview"></div>
          <span class="delete">Удалить фото</span>
          <button>
            <span class="span_bt">Edit</span>
            <div class="top"> </div>
            <div class="left"></div>
            <div class="bottom"></div>
            <div class="right"></div>
          </button>
        </form>
      </div>
    </div>
{% endblock content_container %}

{% block script %}<script src={%static "vendor/js/profile.js"%}></script>{% endblock script %}




