{% extends 'first_try/base.html' %}
{% load static %}

{% block css %} 
  <link href="{% static 'vendor/css/profile.css' %}" rel="stylesheet">
{% endblock css %}

{% block nav_block %}   
        <div id="nav_block"> 
          <a href={% url "exit"%}><div class="nav_button">Exit</div></a>
          <a href={% url 'main' %}><div class="nav_button">Main</div></a>
          <a href=""><div class="nav_button">About</div></a> 
        </div>
{% endblock nav_block %}

{% block content_container %}
    <div id="content_container">
      <div id="rectangle">
        <div class="info_about_user">
          {%if img%}
            <img src="{{img}}" class="image_user">
          {%else%}
            <img src={%static "vendor/images/start.jpg"%} class="image_user">
          {%endif%}
          <div class="username"><b>{{user.username}}</b></div>
          <div class="genre"><b>Ваши любимые жанры:</b> романтика, драма, боевик</div>
          <button>
            <span class="span_bt">Edit</span>
            <div class="top"> </div>
            <div class="left"></div>
            <div class="bottom"></div>
            <div class="right"></div>
          </button>
        </div>
        <div class="podborka">
          <form  action="{% url 'profile'%}" method ="get">
            {% csrf_token %}
            <div class="prokrutka">
              {%for anime in animes %}
              <div class="anime">
                <a href="{{anime.urls}}" target="_blank"><img class="image_anime" src="{{anime.images}}" alt="Anime tyan"></a>
                <div class="block_info">
                  <div class="info">
                    <a href="{{anime.urls}}" target="_blank">
                      <div class="name"><b>{{anime.name}}</b></div>
                    </a>
                    <div class="text"><b>Рейтинг на <a href="https://animego.org/" target="_blank">AnimeGo</b></a>: {{anime.rating}}</div>
                    <div class="text"><b>Количество серий: </b>{{anime.episodes}}</div>
                    <div class="text"><b>Жанр: </b>{{anime.genres}}</div>
                  </div>
                </div>
                <hr>
                <div class="checkbox-apple">
                  <input class="yep" id="{{anime.id}}" type="checkbox">
                  <label for="{{anime.id}}"></label>
                </div>
              </div>
              {% endfor %}
            </div>
            <button class="but">
              <span class="span_bt2">Send</span>
              <div class="top"> </div>
              <div class="left"></div>
              <div class="bottom"></div>
              <div class="right"></div>
            </button>
          </form>
        </div>
      </div>
    </div>
{% endblock content_container %}




