{% extends 'first_try/base.html' %}
{% load static %}

{% block nav_block %}   
        <div id="nav_block"> 
          <a href={% url "exit"%}><div class="nav_button">Exit</div></a>
          <a href={% url 'main' %}><div class="nav_button">Main</div></a>
          <a href=""><div class="nav_button">About</div></a> 
        </div>
{% endblock nav_block %}

{% block content_container %}
    <div id="content_container">
      <div id="rectangle">
        
      </div>

    </div>
{% endblock content_container %}




